<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="theme.css" />
    <title>Vue3 - ch 03 </title>
    <style>
        [v-clock] { display: none}
    </style>
</head>
<body>
<div class="contaner pt-5" id="app" v-cloak>
    <div class="card center">
        <ul class="list" v-if="items.length">
<!--            <li class="list-item" v-for="(item,idx) in 7">{{idx}}.{{item}}</li>     -->
<!--            <li class="list-item" v-for="(value,idx) in person">{{idx}}: {{value}}</li>-->
            <li class="list-item"
                v-for="(value,idx) in items"
                @click="items.splice(idx,1)"
            >{{value}}</li>
        </ul>
        <div v-else> No data </div>
        <div v-show="items.length ===0"> No data </div>
    </div>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script src="app03.js"></script>
</body>
</html>